article {
    width: 800px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
}
h1{
    text-align: left;
    font-size: 25pt;
    font-weight: 300;
    margin: 20px;
}

img{
    width: 150px;
    height: 150px;

}

th{
    padding: 30px;
    font-weight: 300;
    font-size: 13pt;
}
table{
    width: 100%;
    font-size: 13pt;
    font-weight: 300;
}

button, #buyReal{
    width: 150px;
    height: 30px;
    border: none;
    background-color: rgb(241, 176, 176);
    color: white;
    font-size: 10pt;
    margin: 50px;
}



