article{
    width: 900px;
    margin: auto;
    overflow: hidden;
    padding: 200px;
}

h1{
    text-align: center;
}

.point ul{
    list-style: none;
    background-color: #dfdfdf;
    padding: 20px;
    text-align: center;
}

.menu{
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    width: 290px;
    height: 140px;
    float: left;
    margin: 5px;
    text-align: center;
    padding: 10px;
}

.menu:hover{
    border: 1px solid #adadad;
}
.menu:hover a{
    color: #82bcca;
}
.menu h3{
    font-size: 13px;
}
.my_menu a{
    color: #adadad;
}
