body{
    background-image: url("/chef/ba.jpg");
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: 100% 800px;
}

article{
    width: 900px;
    margin: auto;
    overflow: hidden;
    height: 600px;
    margin-top: 150px;
    padding-top: 50px;
}

h1{
    font-weight: 40;
    text-align: center;
}

.point ul{
    list-style: none;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.menu{
    border: 1px solid #4d4d4d;
    box-sizing: border-box;
    width: 290px;
    height: 140px;
    float: left;
    margin: 5px;
    text-align: center;
    padding: 10px;
}

.menu:hover{
    border: 1px solid #b9b9b9;
}
.menu:hover a{
    color: #82bcca;
}
.menu h3{
    font-size: 13px;
}
.my_menu a{
    color: #85755f;
}
