section{
    width: 100%;
    height: 550px;
    padding-top: 18%;
    background-image: url("/chef/ba.jpg");
    background-size: 100% 840px;

}
.forms {
    margin: auto;
    width: 400px;
    height: 400px;
    background-color: #ffbdbd69;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
    
}

.back_img_sec img{
    width: 100%;
    height: 50%;
}
.form_pw {
    padding: 40px;
    margin: auto;
    text-align: center;
    width: 320px;
    height: 280px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}


.form_pw > input {
    padding: 15px;
    margin: 5px;
    width: 200px;
    text-align: left;
    color: #757575;
    border: none;
}
/* .form_pw > button{
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: #26C6DA;
    color: white;
} */


.form_pw > h2 {
    margin: 30px;
    font-size: 25px;
    font-weight: 30;
    color: #757575;
}

#btn{
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: #26C6DA;
    color: white;
    text-align: center;
}

