article{
    width: 900px;
    margin: auto;
    padding: 200px;
}

.loginHtml{
    text-align: center;
}

input{
    width: 200px;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 13px;
}
.loginHtml div{
    margin: 20px;
}

#submitButton{
    border: none;
    background-color: #dadada; 
}
#submitButton:hover{
    background-color: #82bcca;
    transition: 0.5s;
}

.loginHtml a{
    color: black;
}


