*{
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: block;
    background-image: url("ba.jpg");
    background-repeat: no-repeat;
    background-size: 100% 800px;
}

.main_log {
    /* position: relative; */
    /* float: left; */
    width: 100%;
    height: 800px;
}

.login {
    position: relative;
    width: 640px;
    /* float: left; */
    /* left: 50%; */
    /* margin-left: -320px; */

}

.back_info {  
    /* position: relative; */
    margin: auto;
    float: left;
    width: 700px;
    height: 300px;
    margin-top: 250px;
    z-index: 1;
    /* overflow: hidden; */
    background-color: #fff;
    /* margin-top: 300px; */
    box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
}

.forms {
    position: absolute;
    overflow: hidden;
    margin-top: 250px;
    width: 320px;
    height: 300px;
    background-color: #eee;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.active_login {
    box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
    height: 420px;
    top: -50px;  
    /* top:220px; */
    /* left: 0px; */
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}

.active_sign_up {
    box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
    height: 550px;  
    top:-150px;
    left:320px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/* .back_img { */
    /* position: absolute; */
    /* width: 950px;
    top:-80px;
    left: -116px;
} */

/* .back_img > img {
    width: 100%;
    -webkit-filter: grayscale(100%);     
    filter: grayscale(100%);
    opacity: 0.2;
    animation-name: animar_fondo;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    height: 550px;
} */

.back_img_sec {
    /* position: absolute; */
    width: 950px;
    top:-80px;
    left: -116px;
}

/* .back_img_sec > img {
    width: 100%;
    opacity: 0.3;
    animation-name: animar_fondo;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    height: 550px;
} */

.active_login > .back_img_sec {
    top:0px;  
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.active_sign_up > .back_img_sec {
    top:0px;  
    left: -435px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


.log_sign_up {
    position: absolute;
    width: 640px;
    height: 150px;
    margin: auto;
    margin-top: 300px;
    z-index: 2;
} 

.pre_login {
    /* position: relative; */
    float: left;
    width: 50%;

}

.pre_login h2 {
    font-weight: 400;
    
    color: #757575;
}


.btn_login { 
    background-color: #26C6DA;
    border: none;
    padding: 10px;
    width: 100px;
    border-radius:3px;
    box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}

.btn_find { 
    background-color: #e771ff;
    border: none;
    padding: 10px;
    width: 100px;
    border-radius:3px;
    box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}
.btn_find a{
    color: white;
}


.pre_sign_up {
    /* position: relative; */
    float: left;
    width: 50%;  
}

.pre_content h2 {
    font-weight: 400;
    padding-top: 35px;
    color: #fff;
}

.pre_content p {
    font-weight: 400;

    color: #fff;
}

.pre_content {
    /* position: relative; */
    background-color: rgba(120, 144, 156, 0.55);
    width: 260px;
    height: 150px;
    border-radius: 3px;
}

.btn_sign_up { 
    background-color: #ef5350;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius:3px;
    box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}
.active_sign_up {
    z-index: 2; 
    width: 350px;
    height: 650px; 
}


@-webkit-keyframes animar_fondo {
    from { -webkit-transform: scale(1) translate(0px);
        -moz-transform: scale(1) translate(0px);
        -ms-transform: scale(1) translate(0px);
        -o-transform: scale(1) translate(0px);
        transform: scale(1) translate(0px); }
    to { -webkit-transform: scale(1.5) translate(50px);
        -moz-transform: scale(1.5) translate(50px);
        -ms-transform: scale(1.5) translate(50px);
        -o-transform: scale(1.5) translate(50px);
        transform: scale(1.5) translate(50px); }
}
@-o-keyframes identifier {
    from { -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); }
    to { -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5); }

}
@-moz-keyframes identifier {
    from { -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); }
    to { -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5); }

}
@keyframes identifier {
    from { -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); }
    to { -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5); }
}
.form_login {
    position: absolute;
    opacity: 0;
    display: none;
    width: 320px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.active_login {
    z-index: 2;  
}


.form_sign_up {
    position: absolute;
    width: 350px;
    /* float: left; */
    opacity: 0;
    display: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


.form_sign_up input {
    text-align: left;
    padding: 15px 5px;
    margin-left: 10px;
    margin-top: 20px;
    width: 260px;
    border: none;
    color: #757575;
}
#signup{
    width: 100px;
    height: 40px;
    text-align: center;
    color: white;
}

.form_sign_up h2 {
    margin-top: 50px; 
    font-weight: 400;
    color: #757575;
    text-align: center;
}

.form_sign_up img, .form_login img{
    width: 30px;
    height: 30px;
}


.form_login input {
    padding: 15px 5px;
    margin-left: 10px;
    margin-top: 20px;
    width: 260px;
    border: none;
    text-align: left;
    color: #757575;
}
#login{
    width: 100px;
    height: 40px;
    text-align: center;
    color: white;
}

.form_login h2 {
    margin-top: 50px; 
    font-weight: 400;
    color: #757575;
}

.form_login > a,.form_sign_up > a  {
    color: #757575;
    /* position: relative; */
    float: left;
    margin: 10px;
    
}

.form_sign_up .phone{
    width: 70px;
}


/* --------------LOGOUT---------------------- */

.logout_forms {
    margin: auto;
    margin-top: 200px;
    width: 400px;
    height: 400px;
    position: relative;
    
}


@-webkit-keyframes fadeUpIn {
  from { opacity:0; top:150px; }
  to { opacity:1; top: 70px; }
}
  
.logout{
    font-family: 'Lato', Helvetica;
    font-weight: 100;
    top: 70px;
    position: absolute;
    width:100%;
    text-align: center;
    font-size: 2em;
    color: rgb(0, 0, 0);
    animation: fadeUpIn 3s;
    -webkit-animation: fadeUpIn 3s;
}
.logout button{
    width: 180px;
    padding: 10px;
    margin: 20px;
    border: none;
    background-color: #26C6DA;

}
.logout button a{
    color: white;
}
  

  