*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
#brandbox img{
    display: block;
    margin: auto;
    margin-bottom:  50px;
}
article{
    width: 900px;
    margin: auto;
}
article{
    margin-top: 200px;
}

.picture img{
    width: 450px;
    height: 450px;
    float: left;
    margin-right: 40px;
}

.one_two h2{
    font-weight: 40;
    font-size: 30pt;
    font-weight: 100;
    
}

.price{
    margin: 50px;
    font-size: 18pt;
    color: gray;
    font-weight: 100;
}

.input ul{
    list-style: none;
}

.input li{
    font-size: 13pt;
    font-weight: 100;
    margin: 20px;
}

.input select{
    width: 200px;
    height: 40px;
    border: none;

}

button, #buy{
    width: 100px;
    height: 40px;
    border: none;
    color: white;
}
#buy{
    background-color: #a1c9db;
}
#pocket{
    background-color: #bfa1db;
}

section img{
    display: block;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-bottom: 100px;
}

.one_two, section{
    margin-bottom: 200px;
}
.one_two{
    height: 450px;
}



